a {
	text-decoration: none;
}

body {
	background-color: #db8;
	font-family: calibri, arial;
	font-weight: bold;
	font-size: 115%;
	max-width: 900px;
}

img {
	width: 250px;
	height: 179px;
	margin-top: 5px;
	margin-right: 5px;
	border: solid #cc9;
}

h1 {
	margin-left: 30px;
	color: #490;
}

h2 {
	font-size: 75%;
	color: #512;
}